.btn {
  overflow: hidden;
  padding: 11px 32px 12px;
  border-radius: 50px;
  font-family: var(--heading-font);
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: calc(14rem / 16);
  transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  z-index: 1;
  line-height: 1.456;
  display: inline-flex;
}

.btn.primary {
  border: 2px solid var(--purple);
  color: var(--purple);
}

.btn.primary::before {
    content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--purple);
  border-radius: 50%;
  transform: translate3d(0%, -100%, 0);
  transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.btn.primary:hover:before,
.btn.primary:focus:before {
  transform: scale(1.5);
}

.btn.primary:hover,
.btn.primary:focus {
  color: white;
}


.btn.secondary {
  background-color: white;
  border: 2px solid var(--black);
  color: white;
}

.btn.secondary::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 50px;
  background-color: var(--black);
  transform: translate3d(0%, 0%, 0);
  transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}



.btn.secondary:hover:before,
.btn.secondary:focus:before {

transform:  translate3d(-100%, 0%, 0);
}

.btn.secondary:hover,
.btn.secondary:focus {
  color: var(--black);
}

